* {
  margin: 0;
  padding: 0;
  background: #ebecd9;
}

#content {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#text {
  display: none;
  margin-right: 80px;
  font-size: 16px;
  width: 600px;
}

#heading {
  margin-top: 80px;
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.letter {
  font-size: 1.4rem;
  padding-left: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

#ending {
  display: block;
  margin-top: 20px;
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}

#canvasContent {
  position: relative;
  font-size: 16px;
}

#canvas {
  position: relative;
  width: 670px;
  height: 625px;
}

#to {
  position: absolute;
  opacity: 0;
  top: 30%;
  left: 10%;
  font-size: 1.7rem;
  font-weight: 600;
  color: magenta ;
  transition: all 1.2s ease-in-out;
}

#happy {
  position: absolute;
  opacity: 0;
  top: 40%;
  left: 50%;
  font-size: 2.3rem;
  font-weight: 600;
  color: blueviolet ;
  transform: translate(-50%);
  transition: all 1.2s ease-in-out;
}

#from {
  position: absolute;
  opacity: 0;
  top: 55%;
  left: 38%;
  font-size: 1.7rem;
  font-weight: 600;
  color: darkmagenta ;
  transition: all 1.2s ease-in-out;
}